# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.vscode
.vs
.templates

# ignore logs
logs
*.log

# ignore 3rd party lib
node_modules

# github repository readme assets
github_assets

# Ignore built files
build
dist

# ignore test converage
coverage

# git
.gitignore
.git

.DS_Store 