{
	"plugins": [
		"react-hooks"
	],
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"indent": [
			"error",
			4
		],
		"quotes": [
			"error",
			"double"
		],
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"extends": "eslint:recommended"
}